* {
  // outline: 2px solid black;
  box-sizing: border-box;
}
$maincolor: rgb(228, 42, 105);
$lighterMain: rgb(252, 193, 51);
$secondarycolor: rgb(40, 40, 47);
$thirdcolor: rgb(63, 183, 79);

// .mainvideo{
//   display: flex;
//   iframe{
//     width: 100%;
//   }
// }

//nav
body {
  margin: 0;
  font-family: 'Montez', cursive;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navMenu {
  display: none;
}

.showMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  width: 30vh;
  position: fixed;
  top: 4vh;
  right: 0vh;
  border-bottom: 2px solid $lighterMain;
  box-shadow: 3px 4px 4px rgb(41, 41, 95);
  margin: 0;
  background-color: $maincolor;
  //need to add slide in animation

  img {
    height: 3vh;
  }

  div {
    margin: 2% 5%;
    // margin: 0;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: 5px;
    color: $secondarycolor;
    width: 30vh;

    a {
      text-decoration: none;
    }
    a:hover {
      color: $lighterMain;
    }
  }
  div:hover {
    padding: 2px;
    opacity: 70%;
    cursor: pointer;
  }
}
.navContainer {
  border-top: 2px solid $lighterMain;
  border-bottom: 2px solid $lighterMain;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: -3px -1px 8px rgb(41, 41, 95);
}
nav {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: $maincolor;
  padding: 5px;

  img {
    height: 100%;
    position: relative;
    padding: 10px 0 0 0;
  }
  button {
    height: 50%;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    img {
      height: 100%;
    }
  }
  button:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

//all li's
li {
  list-style: none;
  margin: 10px;
  text-align: center;
}
//all img
img {
  height: 250px;
  width: auto;
}
//all main content
.main {
  flex: 1 0 auto;
  margin: 100px 10px;
}
//main page
.mainPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 8vh;
  background-color: plum;
  border-radius: 50px;
  box-shadow: 20px 20px 20px 20px gray;
  padding:10px 40px 10px 10px;
  h1{
    font-size: 50px;
  }
  span{
    font-size: 90px;
    color: white;
  }
  a {
    text-decoration: none;
    //change color
    color: $maincolor;
  }
  a:hover {
    //hover color create a mixin
    cursor: pointer;
  }
  img{
    border:2px solid white;
  }
}

//snacks
.snacks {
  display: flex;
  width: 70vh;
  margin: 0 auto;
  justify-content: space-around;
}

.snackText {
  height: 40vh;
  overflow: scroll;
  li {
    font-size: 1rem;
  }
}

//index page content
.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  padding: 3%;

  div {
    width: 30%;

    display: grid;
    grid-template-areas:
      "img img img"
      "h2 h2 h2"
      "h3 h3 h3"
      "h4 h4 h4";
    margin: 10px auto;

    border-radius: 5%;

    img {
      grid-area: img;
      height: 250px;
      width: auto;
      margin: 0 auto;
      box-shadow: -6px 4px 5px black;
    }
    h2 {
      grid-area: h2;
      margin: 5px;
      overflow-wrap: break-word;
      color: whitesmoke;
      transition-duration: 1s;
    }
    h2:hover {
      cursor: pointer;
      //hover color
    }
    a:hover {
      color: $maincolor;
      cursor: pointer;
    }
    h3 {
      grid-area: h3;
      font-size: 1rem;
      margin: 5px;
    }
    h4 {
      grid-area: h4;
      margin-top: 2px;
      margin: 5px;
    }
    a {
      width: 30vh;
      text-decoration: none;
      color: rgb(36, 82, 49);
      transition-duration: 1s;
    }
  }
}

//show pages
.showPages {
  display: flex;
  justify-content: space-evenly;
}
iframe {
  height: 40vh;
  margin: 20px;
  border-radius: 60px;
  box-shadow: -3px 3px 7px 10px black;
  border-color: $lighterMain;
}

//footer
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -50px;
  flex: 0;
}

#delete {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#delete span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#delete span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#delete:hover span {
  padding-right: 25px;
}

#delete:hover span:after {
  opacity: 1;
  right: 0;
}

.add {
  padding: 15px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.add:hover {
  background-color: #3e8e41;
}

.add:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.update {
  padding: 15px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00a7f5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.update:hover {
  background-color: #00bef8;
}

.update:active {
  background-color: #0094f7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.moviei{
  background-color: plum;
  border-radius: 60px;
  box-shadow: 2px 2px 2px 4px gray;
  margin: 10px 10px 10px 10px;
  padding-top: 20px;
}
.booki{
  background-color: plum;
  border-radius: 60px;
  box-shadow: 2px 2px 2px 4px gray;
  margin: 10px 10px 10px 10px;
  padding-top: 10px;
}
footer{
  background-color: $maincolor;
  border: 2px solid $lighterMain;
  box-shadow: -3px -1px 8px rgb(41, 41, 95);
  color: white;
}
input[type=text]:focus {
  background-color: lightblue;
}
.show{
  background-color: plum;
  border-radius: 60px;
  box-shadow: 2px 2px 2px 4px gray;
  margin: 10px 10px 10px 10px;
  padding-top: 10px;
}

@media (max-width: 600px) {
  iframe{
    height: 200px;
    width: 100%;
  box-shadow: 4px 4px 9px black;
  }
  .mainPage{
    margin: 5px 10px 5px 10px;
    h1{
      font-size: 20px;
    }
    span{
      font-size: 40px;
      color: white;
    }
    img{
      height: 200px;
      width: 100%;
    }
  }
}