// * {
//   outline: 2px solid black;
// }
//nav
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navMenu {
  display: none;
}
.showMenu {
  display: block;
  height: 50vh;
  position: fixed;
  top: 0vh;
  right: 0;
  margin: 2px;
  background-color: rgb(231, 243, 243);
}
nav {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}
nav > img,
nav > button > img,
ul > li > button > img {
  height: 100%;
}
nav > button {
  height: 50%;
  margin: 10px;
}
ul > li > button {
  height: 30px;
}
//all li's
li {
  list-style: none;
  margin: 10px;
  text-align: center;
}
//all img
img {
  height: 150px;
  width: auto;
}
//all main content
.main {
  flex: 1 0 auto;
  margin: 10px;
}
//main page
.mainPage {
  display: flex;
  justify-content: space-around;
}

//snacks
.snacks {
  display: flex;
  width: 70vh;
  margin: 0 auto;
  justify-content: space-around;
}

.snackText {
  height: 40vh;
  overflow: scroll;
  li {
    font-size: 1rem;
  }
}

//index page content
.cards {
  display: flex;
  width: 100vh;
  flex-wrap: wrap;
}
.cards > div {
  width: 30vh;
  display: grid;
  grid-template-areas:
    "img img img"
    "h2 h2 h2"
    "h3 h3 h3"
    "h4 h4 h4";
  margin: 10px auto;

  img {
    grid-area: img;
    margin: 0 auto;
  }
  h2 {
    grid-area: h2;
    // margin: 2px;
  }
  h3 {
    grid-area: h3;
    font-size: 1rem;
  }
  h4 {
    grid-area: h4;
    margin-top: 2px;
  }
  a {
    width: 30vh;
    text-decoration: none;
  }
}
//show pages
.showPages {
  display: flex;
  justify-content: space-evenly;
}
iframe {
  height: 40vh;
  margin: 20px;
}

//footer
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -50px;
  flex: 0;
  // background-color: coral;
}

#delete {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#delete span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#delete span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#delete:hover span {
  padding-right: 25px;
}

#delete:hover span:after {
  opacity: 1;
  right: 0;
}

.add {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.add:hover {
  background-color: #3e8e41;
}

.add:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.update {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00a7f5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.update:hover {
  background-color: #00bef8;
}

.update:active {
  background-color: #0094f7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
